h1{
    font-size:65px;
    color: #fc9700;
    font-family: sans-serif;
    
}
body{
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
}
p{
    font-weight: 600;
    font-size: 3em;
}

.style{
    background-color: #0066ff;
    
}

#list{
    background-color: hsl(83, 100%, 49%);
    text-align: center;
    text-decoration: underline;
    color: rgb(8, 8, 8);
    
}
#list1{
   background-color: #e8eb53;
   color: #000;
}
#list2{
   background-color: hsl(347, 79%, 53%);
}
#list3{
   background-color: hsl(60, 5%, 30%);
}
